#game-board {
    width: 40vw;
    height: 60vh;
    margin: 0 auto;
}
.game-button {
    width: 32%;
    height: 32%;
    display: inline-block;
    margin: 0 2px;
    border: 1px solid black;
    vertical-align: top;
    font-size: 1000%;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

#game-player-display {
    margin: 0 auto;
    font-size: 300%;
    text-align: center;
}

#game-wins-display {
    margin: 0 auto;
    text-align: center;
    font-size: 200%;
}