#game-board {
    width: 606px;
    height: 606px;
    background-color: red;
    margin: 0 auto;
}
.game-button {
    width: 32%;
    height: 32%;
    /* background-color: blue; */
    display: inline-block;
    margin: 0 2px;
    border: 1px solid black;
    vertical-align: top;
    font-size: 1000%;
    font-weight: bold;
    text-align: center;
}